[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
tabulate = "*"
plotly = "*"
statsmodels = "*"
numpy = "*"

[dev-packages]
python-lsp-server = "*"
notebook = "*"

[requires]
python_version = "3.13"
